In [7]:
import pandas as pd
import numpy as np

In [8]:
working_df = pd.read_csv('CDB90-patched.csv')

In [9]:
working_df.describe()

,ISQNO,WOFA1,WOFD1,YR1,MO1,DA1,HR1,WOFA2,WOFD2,YR2,...,ATPBYR10,ATPBMN10,ATPBDA10,ATPBHR10,ATPEYR10,ATPEMN10,ATPEDA10,ATPEHR10,INSTA,INSTD
count,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.000000,2.000000
mean,330.500000,24.218970,23.461212,9568.301515,94.096970,94.500000,9837.730303,-0.145455,-0.159848,9568.301515,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175646.666667,185000.000000
std,190.669872,72.742631,72.714726,1821.495814,20.747115,19.129659,1186.861809,5.927554,5.835607,1821.495814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155037.913213,21213.203436
min,1.000000,-1.000000,-1.000000,1632.000000,1.000000,1.000000,530.000000,-1.000000,-1.000000,1632.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940.000000,170000.000000
25%,165.750000,2.400000,2.000000,9999.000000,99.000000,99.000000,9999.000000,-1.000000,-1.000000,9999.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113470.000000,177500.000000
50%,330.500000,6.000000,5.600000,9999.000000,99.000000,99.000000,9999.000000,-1.000000,-1.000000,9999.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225000.000000,185000.000000
75%,495.250000,15.000000,14.000000,9999.000000,99.000000,99.000000,9999.000000,-1.000000,-1.000000,9999.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262500.000000,192500.000000
max,660.000000,1060.000000,1060.000000,9999.000000,99.000000,99.000000,9999.000000,128.000000,128.000000,9999.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300000.000000,200000.000000

In [10]:
len(working_df.columns.to_list())

208

### Selecting WWI and WWII

In [11]:
war_df = working_df.loc[(working_df['WAR'] == 'WORLD WAR II')|
                        (working_df['WAR'] == 'WORLD WAR II (EASTERN FRONT)') |
                        (working_df['WAR'] == 'WORLD WAR II (NORTH AFRICA 1942-1943)')|
                        (working_df['WAR'] == 'WORLD WAR II (ITALY 1943-1944)')|
                        (working_df['WAR'] == 'WORLD WAR II (ITALY 1944)')|
                        (working_df['WAR'] == 'WORLD WAR II (EUROPEAN THEATER)')|
                        (working_df['WAR'] == 'WORLD WAR II (OKINAWA)')|
                        (working_df['WAR'] == 'WORLD WAR I (WESTERN FRONT 1914)')|
                        (working_df['WAR'] == 'WORLD WAR I (EASTERN FRONT 1914)')|
                        (working_df['WAR'] == 'WORLD WAR I (SERBIAN FRONT 1914)')|
                        (working_df['WAR'] == 'WORLD WAR I')|
                        (working_df['WAR'] == 'WORLD WAR I (ITALIAN FRONT 1915)')|
                        (working_df['WAR'] == 'WORLD WAR I (TURKISH FRONTS 1915)')|
                        (working_df['WAR'] == 'WORLD WAR I (TURKISH FRONTS 1917)')|
                        (working_df['WAR'] == 'WORLD WAR I (WESTERN FRONT 1918)')]

In [12]:
war_df2 = war_df.copy()

In [13]:
war_df3 = war_df2.loc[:, ['ISEQNO', 'WINA', 'WAR','NAME', 'LOCN', 'CAMPAGN', 'NAMA', 'COA','NAMD','COD', 'WOFA1', 'WOFD1','POST1','TERRA1', 'WX1', 'SURPA', 'AEROA', 'INTSTA', 'RERPA', 'CASA', 
                         'INTSTD', 'RERPD','CASD', 'TANKA', 'ARTYA', 'TANKD', 'ARTYD', 'LEADA', 'TRNGA','MORALA', 'LOGSA','MOMNTA', 'INTELA', 'INITA', 'ACHA', 'PRIA1', 'ATPBYR1', 'ATPBMN1', 'ATPEYR1', 'ATPEMN1']]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

#### Reset Index

In [14]:
war_df4 = war_df3
war_df4.reset_index(inplace=True)
# del war_df4['ISEQNO']
# del war_df['level_0']
war_df4.head(2)

,index,ISEQNO,WINA,WAR,NAME,LOCN,CAMPAGN,NAMA,COA,NAMD,...,LOGSA,MOMNTA,INTELA,INITA,ACHA,PRIA1,ATPBYR1,ATPBMN1,ATPEYR1,ATPEMN1
0,261,NaN,-1,WORLD WAR I (WESTERN FRONT 1914),ALSACE-LORRAINE I,GERMANY,NaN,"FR 1ST & 2ND ARMIES, ARMY OF ALSACE",GEN JOFFRE,GER 6TH &7TH ARMIES,...,0,0,0,0,4,FF,1914,8,1914,8
1,262,NaN,1,WORLD WAR I (WESTERN FRONT 1914),ALSACE-LORRAINE II,GERMANY AND FRANCE,NaN,GER 6TH & 7TH ARMIES,GEN MOLTKE,FR 1ST & 2ND ARMIES & ARMY OF ALSACE,...,0,0,0,0,8,FF,1914,8,1914,8

In [15]:
war_df4['POST1'] = war_df4['POST1'].replace('HD', "Hasty Defense")
war_df4['POST1'] = war_df4['POST1'].replace('PD', "Prepared Defense")
war_df4['POST1'] = war_df4['POST1'].replace('FD', "Fortified Defense")
war_df4['POST1'] = war_df4['POST1'].replace('DL', "Delay")
war_df4['POST1'] = war_df4['POST1'].replace('WD', "Withdrawal")
war_df4['POST1'] = war_df4['POST1'].replace('OO', "Unknown")
war_df4.head(2)

,index,ISEQNO,WINA,WAR,NAME,LOCN,CAMPAGN,NAMA,COA,NAMD,...,LOGSA,MOMNTA,INTELA,INITA,ACHA,PRIA1,ATPBYR1,ATPBMN1,ATPEYR1,ATPEMN1
0,261,NaN,-1,WORLD WAR I (WESTERN FRONT 1914),ALSACE-LORRAINE I,GERMANY,NaN,"FR 1ST & 2ND ARMIES, ARMY OF ALSACE",GEN JOFFRE,GER 6TH &7TH ARMIES,...,0,0,0,0,4,FF,1914,8,1914,8
1,262,NaN,1,WORLD WAR I (WESTERN FRONT 1914),ALSACE-LORRAINE II,GERMANY AND FRANCE,NaN,GER 6TH & 7TH ARMIES,GEN MOLTKE,FR 1ST & 2ND ARMIES & ARMY OF ALSACE,...,0,0,0,0,8,FF,1914,8,1914,8

In [16]:
war_df5 = war_df4.copy()

In [17]:
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR II', 'WORLD WAR II')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR II (EASTERN FRONT)', 'WORLD WAR II')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR II (NORTH AFRICA 1942-1943)', 'WORLD WAR II')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR II (ITALY 1943-1944)', 'WORLD WAR II')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR II (ITALY 1944)', 'WORLD WAR II')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR II (EUROPEAN THEATER)', 'WORLD WAR II')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR II (OKINAWA)', 'WORLD WAR II')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR I (WESTERN FRONT 1914)', 'WORLD WAR I')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR I (EASTERN FRONT 1914)', 'WORLD WAR I')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR I (SERBIAN FRONT 1914)', 'WORLD WAR I')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR I', 'WORLD WAR I')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR I (ITALIAN FRONT 1915)', 'WORLD WAR I')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR I (TURKISH FRONTS 1915)', 'WORLD WAR I')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR I (TURKISH FRONTS 1917)', 'WORLD WAR I')
war_df5['WAR'] = war_df5['WAR'].replace('WORLD WAR I (WESTERN FRONT 1918)', 'WORLD WAR I')
war_df5.head(2)

,index,ISEQNO,WINA,WAR,NAME,LOCN,CAMPAGN,NAMA,COA,NAMD,...,LOGSA,MOMNTA,INTELA,INITA,ACHA,PRIA1,ATPBYR1,ATPBMN1,ATPEYR1,ATPEMN1
0,261,NaN,-1,WORLD WAR I,ALSACE-LORRAINE I,GERMANY,NaN,"FR 1ST & 2ND ARMIES, ARMY OF ALSACE",GEN JOFFRE,GER 6TH &7TH ARMIES,...,0,0,0,0,4,FF,1914,8,1914,8
1,262,NaN,1,WORLD WAR I,ALSACE-LORRAINE II,GERMANY AND FRANCE,NaN,GER 6TH & 7TH ARMIES,GEN MOLTKE,FR 1ST & 2ND ARMIES & ARMY OF ALSACE,...,0,0,0,0,8,FF,1914,8,1914,8

In [18]:
replace_values = {'EGYPT':'North Africa', 'TUNISIA':'North Africa', 'FRANCE':'Europe', 'GERMANY': 'Europe', 'LUXEMBOURG':'Europe', 'POLAND': 'Europe', 
                 'NORTHWEST EUROPE':'Europe', 'BELGIUM':'Europe', 'Soviet Union':'USSR', 'MALAYA':'Pacific', 'JAPAN':'Pacific', 'OKINAWA': 'Pacific'}

In [19]:
# Grouping Regions ()
war_df6 = war_df5.copy()
war_df6 = war_df6.replace({'LOCN':replace_values})
war_df6['LOCN'] = war_df6['LOCN'].replace('SOVIET UNION', "USSR")
war_df6['LOCN'] = war_df6['LOCN'].replace('MANCHURIA', "Pacific")
war_df6['LOCN'].value_counts()

Europe                        142
ITALY                          72
Pacific                        34
USSR                           23
North Africa                   11
AUSTRIA                         9
PALESTINE                       5
AUSTRIAN GALICIA                4
RUSSIAN POLAND                  4
AUSTRIA AND ITALY               3
TURKEY                          3
MESOPOTAMIA                     3
SERBIA                          2
GERMANY AND FRANCE              1
GERMANY AND RUSSIAN POLAND      1
Name: LOCN, dtype: int64

In [20]:
replace_values2 = {'AUSTRIA ':'Europe', 'ITALY':'Europe', 'AUSTRIAN GALICIA':'Europe', 'RUSSIAN POLAND ': 'USSR', 'AUSTRIA AND ITALY':'Europe', 
                   'SERBIA':'Europe','GERMANY AND FRANCE':'Europe', 'GERMANY AND RUSSIAN POLAND':'Europe', 'PALESTINE':'Middle East', 
                   'MESOPOTAMIA ': 'Middle East', 'TURKEY':'Middle East'}
war_df6 = war_df6.replace({'LOCN':replace_values2})     
# war_df6['LOCN'].value_counts()

In [21]:
del war_df6['COA']
del war_df6['COD']
del war_df6['CAMPAGN']

### Putting file to excel for editing.

In [22]:
len(war_df6.columns.to_list())

38

In [23]:
#war_df6.to_excel('War DF1.xlsx')

### File Back from Excel, converted to ratios and simplified the attackers and defenders

In [24]:
df_post_excel = pd.read_excel('War DF1_editing_v4.xlsx')

In [25]:
df_post_excel.head(2)

,Unnamed: 0,ISEQNO,Win,WAR,NAME,Location,Attacker,Defender,Defense,Terrain,...,Leadership,Training,Morale,Logisitics,Momentum,Intelligence,Initiative,Attack Scheme,Attack_Y,Attack_M
0,49,310,1,WORLD WAR I,1916 BRUSILOV OFFENSIVE,Europe,Russian Army,Austrian Army,Prepared Defense,RM0,...,0,0,0,1,0,0,1,FF,1916,6
1,52,313,1,WORLD WAR I,TRENTINO COUNTER-OFFENSIVE,Europe,Italian Army,Austrian Army,Hasty Defense,GB0,...,0,0,0,1,0,0,0,FF,1916,6

### Fixing Terrain/Weather Values

In [26]:
t_replace_values = {'RM0':'Rolling/Mixed', 'GM0':'Rugged/Mixed', 'FM0':'Flat/Mixed', 'FB0':'Flat/Bare', "GW0":'Rugged/Wooded','GB0':'Rugged/Bare','FD0':'Flat/Desert',
                   'RB0':'Rolling/Bare', 'RW0':'Rolling/Wooded', 'FW0': 'Flat/Wooded','RD0':'Rolling/Desert','R00':'Rugged/Wooded','FWM':'Flat/Wooded', 'Flat/Wooed':'Flat/Wooded'}
df_post_excel_2 = df_post_excel.replace({'Terrain':t_replace_values})
df_post_excel_2['Terrain'].value_counts()

Rolling/Mixed     167
Rugged/Mixed       43
Flat/Mixed         42
Rugged/Wooded      17
Rugged/Bare        13
Flat/Bare          12
Flat/Wooded         6
Flat/Desert         5
Rolling/Bare        5
Rolling/Wooded      5
Rolling/Desert      2
Name: Terrain, dtype: int64

In [27]:
df_post_excel_2.copy()
w_replace_values = {'DST':'Dry/Sunny/Temperate', 'WLT':'Wet/L_Rain/Temperate','WLC':'Wet/L_Rain/Cold','DSC':'Dry/Sunny/Cold','WHT':'Wet/H_Rain/Temperate','DOT':'Dry/Overcast/Temperate',
                   'D0C':'Dry/Sunny/Cold', 'WHC':'Wet/H_Rain/Cold','W0C':'Wet/L_Rain/Cold','DOC':'Dry/Overcast/Cold', 'D0T':'Dry/Overcast/Temperate','WHH':'Wet/H_Rain/Hot'}
df_post_excel_2 = df_post_excel_2.replace({'Weather':w_replace_values})

In [28]:
df_post_excel_2['Weather'].replace('WOT', 'Wet/Overcast/Temperate')
df_post_excel_2['Weather'].replace('000 ', 'Unknown')
df_post_excel_2['Weather'].value_counts()

Dry/Sunny/Temperate       169
Wet/L_Rain/Temperate       43
Dry/Overcast/Temperate     33
Wet/L_Rain/Cold            21
Dry/Sunny/Cold             19
Wet/H_Rain/Temperate       17
Wet/H_Rain/Cold             8
Dry/Overcast/Cold           3
WOT                         2
Wet/H_Rain/Hot              1
000                         1
Name: Weather, dtype: int64

In [29]:
#df_post_excel_2.to_excel('war_df_excel_2.xlsx')

In [30]:
df_final_v1 = pd.read_excel('war_df_excel_2.xlsx')

In [31]:
df_final_v1.to_csv('R_war_df.csv')